<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Responsive Resume Template</title>
  <meta name="viewport" content="width=device-width"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="resume-wrapper">
	<section class="profile section-padding">
		<div class="container">
			<div class="picture-resume-wrapper">
        <div class="picture-resume">
        <span><img src="static/1.jpg" alt="My photo" /></span>
</svg>

      </div>
         <div class="clearfix"></div>
 </div>
      <div class="name-wrapper">
        <h1>Panagiotis <br/>Zermpinos</h1><!-- YOUR NAME AND LAST NAME  -->
      </div>
      <div class="clearfix"></div>
      <div class="contact-info clearfix">
      	<ul class="list-titles">
      		<li>Call</li>
      		<li>Mail</li>
      		<li>Web</li>
      	</ul>
        <ul class="list-content ">
        	<li>+30 6974764432</li> <!-- YOUR PHONE NUMBER  -->
        	<li>panoszermpinos@gmail.com</li> <!-- YOUR EMAIL -->
        	<li>Athens, Greece</li> <!-- YOUR STATE AND COUNTRY  -->
        </ul>
      </div>
      <div class="contact-presentation"> <!-- YOUR PRESENTATION RESUME  -->
      	<p><span class="bold">About me: </span> I am a problem solver with focus on Energy
Engineering, able to perform effectively, always
looking for the most efficient and economic
solutions. Some of the fields that interest
me are Photovoltaic/Thermal Panels,
Zero Energy Buildings, Building Energy Management
Systems, and the decarbonization
of Heating. Currently I am in search of a job
that will teach me new things and give me
hands-on experience. </p>
      </div>
      <div class="contact-social clearfix">
      	<ul class="list-titles">
      		<li>LinkedIn</li>
      		<li>Github</li>
      		<li>Instagram</li>
      	</ul>
        <ul class="list-content"> <!-- REMEMBER TO PUT THE URL ON THE HREF TAG  -->
      		<li><a href="https://www.linkedin.com/in/panagiotiszermpinos/">panagiotiszermpinos</a></li>
      		<li><a href="https://github.com/zermpinos">zermpinos</a></li>
      		<li><a href="https://www.instagram.com/panoszermpinos/">panoszermpinos</a></li>
      	</ul>
      </div>
		</div>

	</section>
  
  <section class="experience section-padding">
  	<div class="container">
  		<h3 class="experience-title">Experience</h3>


      <div class="experience-wrapper">

          <!-- JOB 1 -->
          <div class="company-wrapper clearfix">
      		<div class="experience-title">HEDNO</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">December 2022 - January 2023</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        
        <div class="job-wrapper clearfix">
        	<div class="experience-title">External Partner </div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>Working in the electricity theft department gave me the opportunity to work with both technicians and customers. I broadened my technical know-how and learned how to resolve conflict between the regulatory authority and the end-user.</p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>

          <!-- JOB 2 -->
        <div class="company-wrapper clearfix">
      		<div class="experience-title">Rutech</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">June 2022 - December 2022</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        
         <div class="job-wrapper clearfix">
        	<div class="experience-title">Apprentice Electrician</div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>Being employed as an apprentice electrician helped me in getting a better understanding of electrical theory, such as Ohm's Law and wiring diagrams, but also in the difference in commercial and industrial systems, including the installation and maintenance that they require.Also I was familiarized with the ISO standards and the safety procedures that are followed as well as the tools and equipment used in electrical engineering. At Rutech I was also responsible for a major part of the inventory management as well as the delivery of the products so I learned how to schedule a delivery, while  working with other team members.</p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>

           <!-- JOB 3 -->
        <div class="company-wrapper clearfix">
      		<div class="experience-title">Auto Service Zermpinos</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">August 2015 - Present</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div> 
        
         <div class="job-wrapper clearfix">
        	<div class="experience-title">Automotive Mechanic </div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>Working in my father's auto repair shop was where it all began. I learned all about automotive systems, such as engine parts, suspension and transmission, as well as the need to maintain them. Being able to diagnose and repair is a skill crucial to being a mechanic so it was one of the first things I learned, along with the tools necessary for the job. Interacting with customers daily and inventory management was also some of the things I learned while working there.</p>   <!-- JOB DESCRIPTION  -->
          </div>
        </div>


      </div><!--Skill experience-->
      
      <div class="section-wrapper clearfix">
      	<h3 class="section-title">Skills</h3>  <!-- YOUR SET OF SKILLS  -->
        	<ul>
        		<li class="skill-percentage">Troubleshooting</li>
        		<li class="skill-percentage">Quality Assurance</li>
        		<li class="skill-percentage">MatLAB</li>
        		<li class="skill-percentage">Artificial Intelligence</li>
        		<li class="skill-percentage">Python</li>
        		<li class="skill-percentage">AutoCAD</li>
            
        	</ul>
        
      </div>
      
      <div class="section-wrapper clearfix">
        <h3 class="section-title">Hobbies</h3>  <!-- DESCRIPTION OF YOUR HOBBIES -->
        <p>
                <li class="">Music production <br> Proficient in using industry-standard digital audio workstations (DAWs) such as Fruity Loops and Cubase Knowledgeable in audio recording techniques, MIDI programming, and virtual instruments. Experienced in audio editing, sound design, and post-production techniques. Strong understanding of music theory and composition, with many years of experience in playing the guitar, enabling me to create engaging and innovative music across various genres. Detail-oriented and adept at achieving professional-grade audio quality in the final product.</li> <br>
        		<li class="">Chess <br> Enthusiastic chess player playing since 2020. Knowledgeable in various opening theories, middle-game tactics, and endgame principles. Adept at teaching chess strategies to beginners and helping them develop their game.</li> <br>
        		<li class="">Basketball <br> Skilled player with experience in both casual and competitive settings since 2016. Possess a deep understanding of the game, including offensive and defensive strategies, teamwork, and leadership.</li> <br>

        </p>
      </div>
      
  	</div>
  </section>
  
  <div class="clearfix"></div>
</div>
<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script><script  src="./script.js"></script>

</body>
</html>
