body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #111;
}

#toggleDarkMode {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
    border-radius: 4px;
}

#toggleDarkMode:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

form input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li form input[type="submit"] {
    background-color: #dc3545;
}

li form input[type="submit"]:hover {
    background-color: #c82333;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode .container {
    background-color: #444;
}

.dark-mode form input[type="text"] {
    background-color: #555;
    color: white;
    border-color: #777;
}

.dark-mode form input[type="submit"] {
    background-color: #007BFF;
}

.dark-mode form input[type="submit"]:hover {
    background-color: #0056b3;
}

.dark-mode li {
    color: #f0f0f0;
    background-color: #555;
}


.dark-mode li form input[type="submit"] {
    background-color: #dc3545;
}

.dark-mode li form input[type="submit"]:hover {
    background-color: #c82333;
}
